In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import os
from dateutil.parser import parse
import datetime
from datetime import datetime

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
%cd /content/drive/My Drive/FAANG stocks/

/content/drive/My Drive/FAANG stocks

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
df_meta = pd.read_csv('META.csv')
df_aapl = pd.read_csv('AAPL.csv')
df_amzn = pd.read_csv('AMZN.csv')
df_nflx = pd.read_csv('NFLX.csv')
df_googl = pd.read_csv('GOOGL.csv')

In [6]:
df_googl.head()

         Date Close/Last    Volume     Open     High      Low
0  03/24/2023    $105.44  30411040  $104.99  $105.49  $103.84
1  03/23/2023    $105.60  40797770  $105.06  $106.30  $104.46
2  03/22/2023    $103.37  43427420  $104.27  $106.59  $103.33
3  03/21/2023    $104.92  42110280  $101.25  $105.10  $101.22
4  03/20/2023    $101.22  32960440  $100.12  $101.75   $99.87

In [7]:
type(df_googl['Date'])

pandas.core.series.Series

In [8]:
df_googl['Date'] = pd.to_datetime(df_googl['Date'], format = '%m/%d/%Y').dt.date
df_nflx['Date'] = pd.to_datetime(df_nflx['Date'], format = '%m/%d/%Y').dt.date
df_amzn['Date'] = pd.to_datetime(df_amzn['Date'], format = '%m/%d/%Y').dt.date
df_aapl['Date'] = pd.to_datetime(df_aapl['Date'], format = '%m/%d/%Y').dt.date
df_meta['Date'] = pd.to_datetime(df_meta['Date'], format = '%m/%d/%Y').dt.date

In [9]:
df_googl['Close/Last'] =[x.strip('$') for x in df_googl['Close/Last']]
df_googl['Open'] =[x.strip('$') for x in df_googl['Open']]
df_googl['High'] =[x.strip('$') for x in df_googl['High']]
df_googl['Low'] =[x.strip('$') for x in df_googl['Low']]

df_nflx['Close/Last'] =[x.strip('$') for x in df_nflx['Close/Last']]
df_nflx['Open'] =[x.strip('$') for x in df_nflx['Open']]
df_nflx['High'] =[x.strip('$') for x in df_nflx['High']]
df_nflx['Low'] =[x.strip('$') for x in df_nflx['Low']]


df_amzn['Close/Last'] =[x.strip('$') for x in df_amzn['Close/Last']]
df_amzn['Open'] =[x.strip('$') for x in df_amzn['Open']]
df_amzn['High'] =[x.strip('$') for x in df_amzn['High']]
df_amzn['Low'] =[x.strip('$') for x in df_amzn['Low']]

df_aapl['Close/Last'] =[x.strip('$') for x in df_aapl['Close/Last']]
df_aapl['Open'] =[x.strip('$') for x in df_aapl['Open']]
df_aapl['High'] =[x.strip('$') for x in df_aapl['High']]
df_aapl['Low'] =[x.strip('$') for x in df_aapl['Low']]

df_meta['Close/Last'] =[x.strip('$') for x in df_meta['Close/Last']]
df_meta['Open'] =[x.strip('$') for x in df_meta['Open']]
df_meta['High'] =[x.strip('$') for x in df_meta['High']]
df_meta['Low'] =[x.strip('$') for x in df_meta['Low']]

In [10]:
df_googl.head()

         Date Close/Last    Volume    Open    High     Low
0  2023-03-24     105.44  30411040  104.99  105.49  103.84
1  2023-03-23     105.60  40797770  105.06  106.30  104.46
2  2023-03-22     103.37  43427420  104.27  106.59  103.33
3  2023-03-21     104.92  42110280  101.25  105.10  101.22
4  2023-03-20     101.22  32960440  100.12  101.75   99.87

In [11]:
type(df_googl['Date'])

pandas.core.series.Series

In [13]:
df_meta['Date'] = df_meta.Date.astype(str)
df_aapl['Date'] = df_aapl.Date.astype(str)
df_amzn['Date'] = df_amzn.Date.astype(str)
df_nflx['Date'] = df_nflx.Date.astype(str)
df_googl['Date'] = df_googl.Date.astype(str)

### EDA

In [14]:
print('\t\tStart Date\t\tEnd Date')
print('META\t\t{}\t\t{}'.format(df_meta['Date'][0], df_meta.iloc[-1, 0]))
print('AAPL\t\t{}\t\t{}'.format(df_aapl['Date'][0], df_aapl.iloc[-1, 0]))
print('AMZN\t\t{}\t\t{}'.format(df_amzn['Date'][0], df_amzn.iloc[-1, 0]))
print('NFLX\t\t{}\t\t{}'.format(df_nflx['Date'][0], df_nflx.iloc[-1, 0]))
print('GOOG\t\t{}\t\t{}'.format(df_googl['Date'][0], df_googl.iloc[-1, 0]))

df_meta['Date'] = df_meta.Date.apply(parse)
df_aapl['Date'] = df_aapl.Date.apply(parse)
df_amzn['Date'] = df_amzn.Date.apply(parse)
df_nflx['Date'] = df_nflx.Date.apply(parse)
df_googl['Date'] = df_googl.Date.apply(parse)

		Start Date		End Date
META		2023-03-24		2013-03-27
AAPL		2023-03-24		2013-03-27
AMZN		2023-03-24		2013-03-27
NFLX		2023-03-24		2013-03-27
GOOG		2023-03-24		2013-03-27